<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
	<meta name="viewport" content="width=device-width" />
	<title>فروشگاه تکراری</title>
	<link href="~/lib/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
</head>
<body>
	<div class="bg-dark text-white p-2">
		<span class="navbar-brand ml-2">فروشگاه تکراری</span>
	</div>
	<div class="row m-1 p-1">
		<div id="categories" class="col-3">
			Put something useful here later
		</div>
		<div class="col-9">
			@RenderBody()
		</div>
	</div>
</body>
</html>