@page "/error"
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="/lib/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
	<title>خطا</title>
</head>
<body class="text-center">
	<h2 class="text-danger">Error.</h2>
	<h3 class="text-danger">
		خطایی رخ داد اما تقصیر شما نیست!
	</h3>
</body>
</html>